* { box-sizing: border-box; }

body {
    font-family:"Comic Sans MS", cursive, sans-serif;
}
canvas {
    background-color: transparent;
}
.hidden {
    display: none;
}
#loading {
    margin:50px auto;
    position:fixed;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 10;
}
#loading_container {
    position:relative;
    margin:0 auto;
    width:50%;
    text-align:center;
    padding:10px;
    border: 3px solid #554E7C;
	border-radius: 3px;
	overflow: hidden;
    color: #FFF;
    text-align: left;
}
#loading_progress {
    width:0%;
    background-color: #8557D8;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.7;
	border-top: 1px solid #833DFF;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
#star_field {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    z-index: 3;
    
}
#space_bkg {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    background-color: #021B46;
    
}

#space_bkg.deepspace {
    -webkit-transition:background 60s;
    -moz-transition:background 60s;
    -o-transition:background 60s;
    transition:background 60s;
    background-color: black;
}
#stats {
    position: absolute;
    top: 30%;
    color: rgba(255, 255, 255, 0.1);
    width:100%;
    font-size: 144px;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

#stats #score span {
    display: inline-block;
    margin: 0 -10px 0 -30px;
}

#coin_count {
    font-size: 30px;
    margin-top: -30px;
}
#title {
    font-size: 78px;
    color: #800080;
    text-shadow: 0 2px #FFF, 0 4px #C8A7D3;
    margin: 0;
    margin-bottom: -15px;
}

h2 {
    display: block;
    font-size: 22px;
    color: #AF8BB6;
    margin-bottom: 30px;
}
#bottom-bar {
    position: absolute;
    bottom: 0px;
    color: #B5A8DD;
    background-color: #322242;
    width: 100%;
    padding: 5px;
    z-index: 17;
}
#progress_wrapper {
    display: inline-block;
    background-color: #210325;
    width: 60%;
    margin: 0 50px;
    border-radius: 5px;
    padding: 3px;
    background-image: url('/images/small_moon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    overflow: auto;
}
#progress_bar {
    background-color: #4C3566;
    height: 20px;
    width:0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
#options {
    display: inline-block;
    float: right;
    padding-right: 20px
}
#mute_music {
    
}
#highscore {
    display: inline-block;
}
#action_window {
    position: absolute;
    width:50%;
    height:50%;
    display: none;
    z-index: 16;
    margin: auto;
    top:0; bottom:0; left:0; right:0;
}
#action_window .container {
    background: #FFF;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 0 5px rgba(128, 0, 128, 0.6);
}
#action_window input {
    display: block;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #800080;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26);
    background: rgba(128, 0, 128, 0.03);
    border-radius: 3px;
    width: 80%;
    margin: 0 auto 30px;
}
#action_window button {
    position: relative;
    color: #FFF;
    border: 1px solid #6F48AA;
    border-radius: 3px;
    padding: 12px 200px;
    font-size: 16px;
    font-weight: bold;
    background: #8D418A;
    cursor: pointer;
    font-family: Comic Sans MS;
    outline: none;
    box-shadow: inset 0 1px #B46ECF, 0 1px 2px rgba(0, 0, 0, 0.56);
    border-bottom: 3px solid #691D81;
    text-shadow: 0 -01px #44107C;
    display: block;
    margin: 0 auto;
}
#action_window button:hover {
    background: #B459B1;
}
#action_window button:focus {
    box-shadow: inset 0 0 0 1px purple, inset 0 0 0 3px white;
}
#action_window button:active {
    border-bottom: 1px solid #691D81;
    top: 2px;
    margin-bottom: 4px;
}

#game_over_score {
    font-size: 54px;
    font-weight: bold;
    margin: -20px 0 -25px 0;
    display: block;
}

#action_text {
    display: inline-block;
    margin-right: 10px;
    color: gray;
}
#clear_and_reset {
    font-size: 10px;
}
#flash_screen {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: white;
    z-index: 9;
    display: none;
}

#touch_this {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 15;
    background: transparent;
}

#wow_text {
    z-index: 15;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    max-width: 50%;
    padding: 10px;
    text-shadow: 0 1px 20px;
}

#address {
    font-size: 10px;
    color: #808080;
}

#scoreboard {
    
}
.modal {
    display: none;
    position: absolute;
    z-index: 45;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 30px;
}
#help-text {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    z-index: 40;
}
#got-it {
    padding: 15px;
    border: 3px solid;
    color: #C3FFFD;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    width:100%;
    box-shadow: 0 0 10px;
    outline: none;
    
    -webkit-animation: pressButton 1s infinite;
    -moz-animation: pressButton 1s infinite;
    animation: pressButton 1s infinite;
}

#scoreboard ul {
    list-style: none;
    height: 200px;
    overflow: auto;
}

#earth {
    height: 100%;
    max-height:1000px;
    bottom: 0;
    position: absolute;
    left:0;
    z-index: 1;
}
#earth.peace {
    -webkit-transition:all 50s linear;
    -moz-transition:all 50s linear;
    -o-transition:all 50s linear;
    transition:all 50s linear;

    -webkit-transform: translate3d(-500px,0,0);
    -moz-transform: translate3d(-500px,0,0);
    -o-transform: translate3d(-500px,0,0);
    transform: translate3d(-500px,0,0);
}
#moon {
    height: 100%;
    max-height:1000px;
    bottom: 0;
    position: absolute;
    right:-1500px;
    z-index: 1;

    
}
#moon.enter {
    -webkit-transition:all 50s linear;
    -moz-transition:all 50s linear;
    -o-transition:all 50s linear;
    transition:all 50s linear;


    -webkit-transform: translate3d(-1500px,0,0);
    -moz-transform: translate3d(-1500px,0,0);
    -o-transform: translate3d(-1500px,0,0);
    transform: translate3d(-1500px,0,0);
}


#quintus_container {
    z-index: 2;
}


@-webkit-keyframes pressButton {
    0% {border-bottom: 10px solid; }
    50% {border-bottom: 3px solid;  margin-top:10px;}
    100% {border-bottom: 10px solid; }
}
@-moz-keyframes pressButton{
    0% {border-bottom: 10px solid; }
    50% {border-bottom: 3px solid;  margin-top:10px;}
    100% {border-bottom: 10px solid; }
}
@keyframes pressButton{
    0% {border-bottom: 10px solid; }
    50% {border-bottom: 3px solid;  margin-top:10px;}
    100% {border-bottom: 10px solid; }
}

