body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
canvas {
	background-color: transparent;
}

#star_field {
	width: 100%!important;
	height: 100%!important;
	position: absolute;	
}

#stats {
	position: absolute;
	top: 30%;
	color: rgba(255, 255, 255, 0.1);
	width:100%;
	font-size: 144px;
	text-align: center;
}

#action_window {
	position: absolute;
	width:100%;
	height:100%;
	display: none;
	z-index: 10;
}

#action_window.show {
	display: block;
}

#action_window div {
	margin: 15% auto;
	width: 400px;
	background: #FFF;
	border-radius: 3px;
	padding: 15px;
	text-align: center;
}