body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
canvas {
	background-color: transparent;
}

#star_field {
	width: 100%!important;
	height: 100%!important;
	position: absolute;	
}

#stats {
	position: absolute;
	top: 30%;
	color: rgba(255, 255, 255, 0.1);
	left: 26%;
	font-size: 144px;
}
